In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import Pablo as pb

In [2]:
#Cargar el archivo .csv

df = pb.cargar_dataset('Sydney.csv')
df

,Unnamed: 0,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,...,NaN,NaN,NaN,NaN,t,179,179,0,0,NaN
17713,17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,...,NaN,NaN,NaN,NaN,t,11,9,2,0,NaN
17714,17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,...,NaN,NaN,NaN,NaN,f,10,10,0,0,NaN
17715,17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,...,NaN,NaN,NaN,NaN,f,21,21,0,0,NaN
17716,17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,...,NaN,NaN,NaN,NaN,f,7,7,0,0,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17717 entries, 0 to 17716
Data columns (total 51 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    17717 non-null  int64
 1   id                                            17717 non-null  int64
 2   scrape_id                                     17717 non-null  float64
 3   host_id                                       17717 non-null  int64
 4   host_since                                    17716 non-null  object
 5   host_is_superhost                             16968 non-null  object
 6   host_listings_count                           17716 non-null  float64
 7   host_total_listings_count                     17716 non-null  float64
 8   host_verifications                            17716 non-null  object
 9   host_has_profile_pic                          17716 non-null  object
 10  host_identity_verified                        17716 non-null  object
 11  neighbourhood_cleansed                        17717 non-null  object
 12  neighbourhood_group_cleansed                  0 non-null      float64
 13  latitude                                      17717 non-null  float64
 14  longitude                                     17717 non-null  float64
 15  accommodates                                  17717 non-null  int64
 16  bathrooms                                     16138 non-null  float64
 17  bedrooms                                      17433 non-null  float64
 18  beds                                          16098 non-null  float64
 19  price                                         16147 non-null  object
 20  minimum_nights                                17717 non-null  int64
 21  maximum_nights                                17717 non-null  int64
 22  minimum_minimum_nights                        17717 non-null  int64
 23  maximum_minimum_nights                        17717 non-null  int64
 24  minimum_maximum_nights                        17717 non-null  int64
 25  maximum_maximum_nights                        17717 non-null  int64
 26  minimum_nights_avg_ntm                        17717 non-null  float64
 27  maximum_nights_avg_ntm                        17717 non-null  float64
 28  calendar_updated                              0 non-null      float64
 29  has_availability                              17515 non-null  object
 30  availability_30                               17717 non-null  int64
 31  availability_60                               17717 non-null  int64
 32  availability_90                               17717 non-null  int64
 33  availability_365                              17717 non-null  int64
 34  calendar_last_scraped                         17717 non-null  object
 35  number_of_reviews                             17717 non-null  int64
 36  number_of_reviews_ltm                         17717 non-null  int64
 37  number_of_reviews_l30d                        17717 non-null  int64
 38  review_scores_rating                          13964 non-null  float64
 39  review_scores_accuracy                        13962 non-null  float64
 40  review_scores_cleanliness                     13963 non-null  float64
 41  review_scores_checkin                         13962 non-null  float64
 42  review_scores_communication                   13963 non-null  float64
 43  review_scores_location                        13962 non-null  float64
 44  review_scores_value                           13962 non-null  float64
 45  instant_bookable                              17717 non-null  object
 46  calculated_host_listings_count                17717 non-null  int64
 47  calculated_host_listings_count_entire_homes   17717 non-null  int64
 48  calculated_host_listings_count_private_rooms  17717 non-null  int64
 49  calculated_host_listings_count_shared_rooms   17717 non-null  int64
 50  reviews_per_month                             13964 non-null  float64
dtypes: float64(20), int64(21), object(10)
memory usage: 6.9+ MB

In [4]:
#Eliminar columnas vacías 
df.drop(['neighbourhood_group_cleansed','calendar_updated'], axis = 1, inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17717 entries, 0 to 17716
Data columns (total 49 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    17717 non-null  int64
 1   id                                            17717 non-null  int64
 2   scrape_id                                     17717 non-null  float64
 3   host_id                                       17717 non-null  int64
 4   host_since                                    17716 non-null  object
 5   host_is_superhost                             16968 non-null  object
 6   host_listings_count                           17716 non-null  float64
 7   host_total_listings_count                     17716 non-null  float64
 8   host_verifications                            17716 non-null  object
 9   host_has_profile_pic                          17716 non-null  object
 10  host_identity_verified                        17716 non-null  object
 11  neighbourhood_cleansed                        17717 non-null  object
 12  latitude                                      17717 non-null  float64
 13  longitude                                     17717 non-null  float64
 14  accommodates                                  17717 non-null  int64
 15  bathrooms                                     16138 non-null  float64
 16  bedrooms                                      17433 non-null  float64
 17  beds                                          16098 non-null  float64
 18  price                                         16147 non-null  object
 19  minimum_nights                                17717 non-null  int64
 20  maximum_nights                                17717 non-null  int64
 21  minimum_minimum_nights                        17717 non-null  int64
 22  maximum_minimum_nights                        17717 non-null  int64
 23  minimum_maximum_nights                        17717 non-null  int64
 24  maximum_maximum_nights                        17717 non-null  int64
 25  minimum_nights_avg_ntm                        17717 non-null  float64
 26  maximum_nights_avg_ntm                        17717 non-null  float64
 27  has_availability                              17515 non-null  object
 28  availability_30                               17717 non-null  int64
 29  availability_60                               17717 non-null  int64
 30  availability_90                               17717 non-null  int64
 31  availability_365                              17717 non-null  int64
 32  calendar_last_scraped                         17717 non-null  object
 33  number_of_reviews                             17717 non-null  int64
 34  number_of_reviews_ltm                         17717 non-null  int64
 35  number_of_reviews_l30d                        17717 non-null  int64
 36  review_scores_rating                          13964 non-null  float64
 37  review_scores_accuracy                        13962 non-null  float64
 38  review_scores_cleanliness                     13963 non-null  float64
 39  review_scores_checkin                         13962 non-null  float64
 40  review_scores_communication                   13963 non-null  float64
 41  review_scores_location                        13962 non-null  float64
 42  review_scores_value                           13962 non-null  float64
 43  instant_bookable                              17717 non-null  object
 44  calculated_host_listings_count                17717 non-null  int64
 45  calculated_host_listings_count_entire_homes   17717 non-null  int64
 46  calculated_host_listings_count_private_rooms  17717 non-null  int64
 47  calculated_host_listings_count_shared_rooms   17717 non-null  int64
 48  reviews_per_month                             13964 non-null  float64
dtypes: float64(18), int64(21), object(10)
memory usage: 6.6+ MB

In [6]:
valores_nulos = pb.valores_nulos(df)
valores_nulos

('Nulos por columna',
 Unnamed: 0                                         0
 id                                                 0
 scrape_id                                          0
 host_id                                            0
 host_since                                         1
 host_is_superhost                                749
 host_listings_count                                1
 host_total_listings_count                          1
 host_verifications                                 1
 host_has_profile_pic                               1
 host_identity_verified                             1
 neighbourhood_cleansed                             0
 latitude                                           0
 longitude                                          0
 accommodates                                       0
 bathrooms                                       1579
 bedrooms                                         284
 beds                                            1619
 price                                           1570
 minimum_nights                                     0
 maximum_nights                                     0
 minimum_minimum_nights                             0
 maximum_minimum_nights                             0
 minimum_maximum_nights                             0
 maximum_maximum_nights                             0
 minimum_nights_avg_ntm                             0
 maximum_nights_avg_ntm                             0
 has_availability                                 202
 availability_30                                    0
 availability_60                                    0
 availability_90                                    0
 availability_365                                   0
 calendar_last_scraped                              0
 number_of_reviews                                  0
 number_of_reviews_ltm                              0
 number_of_reviews_l30d                             0
 review_scores_rating                            3753
 review_scores_accuracy                          3755
 review_scores_cleanliness                       3754
 review_scores_checkin                           3755
 review_scores_communication                     3754
 review_scores_location                          3755
 review_scores_value                             3755
 instant_bookable                                   0
 calculated_host_listings_count                     0
 calculated_host_listings_count_entire_homes        0
 calculated_host_listings_count_private_rooms       0
 calculated_host_listings_count_shared_rooms        0
 reviews_per_month                               3753
 dtype: int64,
 'Nulos por dataframe',
 np.int64(36043))

In [7]:
df["price"] =  df["price"].str.replace(r"[$,]","",regex=True).astype(float)

In [ ]:
#Con el promedio podemos rellenar los datos nulos y no generar un sesgo ya que toma en cuenta todos los valores de la columna
pb.sustitucion_mean(df,['review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value'])

,Unnamed: 0,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,...,4.80,4.80,4.80,4.60,t,179,179,0,0,NaN
17713,17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,t,11,9,2,0,NaN
17714,17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,...,4.80,4.80,4.80,4.60,f,10,10,0,0,NaN
17715,17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,f,21,21,0,0,NaN
17716,17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,...,4.80,4.80,4.80,4.60,f,7,7,0,0,NaN

In [ ]:
# La mediana nos ayuda a mantener los números de las columnas entre los valores altos y bajos para poder tener números lógicos en las columnas
pb.sustitucion_median(df, ['price', 'host_listings_count'])

,Unnamed: 0,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,...,4.80,4.80,4.80,4.60,t,179,179,0,0,NaN
17713,17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,t,11,9,2,0,NaN
17714,17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,...,4.80,4.80,4.80,4.60,f,10,10,0,0,NaN
17715,17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,f,21,21,0,0,NaN
17716,17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,...,4.80,4.80,4.80,4.60,f,7,7,0,0,NaN

In [ ]:
# Con una constante podemos rellenar los datos con un mismo número 
pb.sustitucion_constante(df, ['reviews_per_month', 'host_total_listings_count'])

,Unnamed: 0,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,...,4.80,4.80,4.80,4.60,t,179,179,0,0,5.00
17713,17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,t,11,9,2,0,5.00
17714,17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,...,4.80,4.80,4.80,4.60,f,10,10,0,0,5.00
17715,17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,f,21,21,0,0,5.00
17716,17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,...,4.80,4.80,4.80,4.60,f,7,7,0,0,5.00

In [ ]:
# Este metodo ayuda a que sea una sustitución constante y que los datos tengan cierto orden y sentido
pb.sustitucion_ffill(df,['bathrooms', 'bedrooms', 'beds', 'host_since'])

/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad_4/Pablo.py:32: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[x] = df[x].fillna(method="ffill")

,Unnamed: 0,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,...,4.80,4.80,4.80,4.60,t,179,179,0,0,5.00
17713,17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,t,11,9,2,0,5.00
17714,17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,...,4.80,4.80,4.80,4.60,f,10,10,0,0,5.00
17715,17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,f,21,21,0,0,5.00
17716,17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,...,4.80,4.80,4.80,4.60,f,7,7,0,0,5.00

In [ ]:
# Con el método de sustitución con una string constante podemos negar los datos nulos, en este caso los booleanos (Falso y Verdadero) podemos rellenarlos de una manera concreta
pb.sustitucion_string(df, ['has_availability'])

,Unnamed: 0,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,...,4.80,4.80,4.80,4.60,t,179,179,0,0,5.00
17713,17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,t,11,9,2,0,5.00
17714,17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,...,4.80,4.80,4.80,4.60,f,10,10,0,0,5.00
17715,17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,f,21,21,0,0,5.00
17716,17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,...,4.80,4.80,4.80,4.60,f,7,7,0,0,5.00

In [ ]:
#Este método evita que los datos se distorcionen y evita que los valores que faltan cambien el rumbo de un análisis
pb.sustitucion_bfill(df, ['host_is_superhost', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified'])

/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad_4/Pablo.py:40: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[x] = df[x].fillna(method="bfill")

,Unnamed: 0,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,...,4.80,4.80,4.80,4.60,t,179,179,0,0,5.00
17713,17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,t,11,9,2,0,5.00
17714,17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,...,4.80,4.80,4.80,4.60,f,10,10,0,0,5.00
17715,17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,...,4.80,4.80,4.80,4.60,f,21,21,0,0,5.00
17716,17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,...,4.80,4.80,4.80,4.60,f,7,7,0,0,5.00

In [19]:
pb.valores_nulos(df)

('Nulos por columna',
 Unnamed: 0                                      0
 id                                              0
 scrape_id                                       0
 host_id                                         0
 host_since                                      0
 host_is_superhost                               0
 host_listings_count                             0
 host_total_listings_count                       0
 host_verifications                              0
 host_has_profile_pic                            0
 host_identity_verified                          0
 neighbourhood_cleansed                          0
 latitude                                        0
 longitude                                       0
 accommodates                                    0
 bathrooms                                       0
 bedrooms                                        0
 beds                                            0
 price                                           0
 minimum_nights                                  0
 maximum_nights                                  0
 minimum_minimum_nights                          0
 maximum_minimum_nights                          0
 minimum_maximum_nights                          0
 maximum_maximum_nights                          0
 minimum_nights_avg_ntm                          0
 maximum_nights_avg_ntm                          0
 has_availability                                0
 availability_30                                 0
 availability_60                                 0
 availability_90                                 0
 availability_365                                0
 calendar_last_scraped                           0
 number_of_reviews                               0
 number_of_reviews_ltm                           0
 number_of_reviews_l30d                          0
 review_scores_rating                            0
 review_scores_accuracy                          0
 review_scores_cleanliness                       0
 review_scores_checkin                           0
 review_scores_communication                     0
 review_scores_location                          0
 review_scores_value                             0
 instant_bookable                                0
 calculated_host_listings_count                  0
 calculated_host_listings_count_entire_homes     0
 calculated_host_listings_count_private_rooms    0
 calculated_host_listings_count_shared_rooms     0
 reviews_per_month                               0
 dtype: int64,
 'Nulos por dataframe',
 np.int64(0))